---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../components/icons/LinkedIn.astro';
import SocialMedia from '../components/SocialMedia.astro';
import Github from '../components/icons/Github.astro';
import Mail from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import Section from '../components/Section.astro';
import BriefCase from '../components/icons/BriefCase.astro';
import Laptop from '../components/icons/laptop.astro';
import Proyect from '../components/Proyect.astro';
import User from '../components/icons/User.astro';
import Address from '../components/icons/Address.astro';
---

<Layout title="Porfolio de Victor Espigares Desarollador y programador"
		description='Contrata a Victor Espigares'>
	<main class="p-4">
		<Section class="lg:py-44 pb-20 py-20">
			<h1 class="text-white text-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hola, soy Victor Espigares<a  
				href="https://www.linkedin.com/in/victor-espigares-perez/" 
				target="_blank"
				rel="noopener" class="flex justify-center items-center "><Badge>Trabajando</Badge></a>
			</h1>
			<h2 class="text-2xl">Desarrollador <span class=" text-green-200/90">Full stack</span> especializado en el  <span class=" text-green-200/90">Backend</span> con mas de <br><span class=" text-green-200/90">1 año de experiencia</span> en el sector.</h2>
			<nav class="flex gap-x-2 py-2">
				<SocialMedia href="https://www.linkedin.com/in/victor-espigares-perez/">
					<Linkedin class="size-6" />
					
				</SocialMedia>
				<SocialMedia href="https://github.com/Viespa">
					<Github class="size-6" />
					
				</SocialMedia>
				<SocialMedia href="mailto:victorep105@gmail.com">
					<Mail class="size-6" />
					victorep105@gmail.com
				</SocialMedia>
			</nav>	
		</Section>
		<Section id="experiencia">
			<h2 class=" text-2xl font-semibold mb-10 flex gap-x-2 items-center">Experiencia laboral <BriefCase class=""></BriefCase></h2>
			<Experience />
		</Section>
		<Section id="proyectos">
			<h2 class=" text-2xl font-semibold mb-10 flex gap-x-2 items-center">Proyectos <Laptop class=""></Laptop></h2>
			<Proyect />
		</Section>
		<Section id="sobremi" class="mb-5">
			<h2 class=" text-2xl font-semibold mb-10 flex gap-x-2 items-center">Sobre mí <User class=""></User></h2>
			<p class="text-xl text-pretty">Soy un <span class=" text-green-200/90">desarrollador de software</span> con más de un año de experiencia en el sector. Me considero una persona <span class=" text-green-200/90">responsable</span>, con capacidad de trabajo en equipo y con <span class=" text-green-200/90">ganas de aprender</span> y mejorar cada día.</p>
			<br>
			<p class="text-xl mb-2 text-pretty">Me gusta el <span class=" text-green-200/90">explorar, descubrir y aprender</span>. En mi tiempo libre me gusta leer e informarme sobre cosas que desconozco.</p>
			<img src="victor-montaña.jpg" alt="foto de victor espigares" class="rounded">
		</Section>
		<Section id="contacto">
			<h2 class=" text-2xl font-semibold mb-10 flex gap-x-2 items-center">Contacto <Address class=""></Address></h2>
			<p class="text-xl text-pretty">Si quieres contactar conmigo puedes hacerlo a través de mi  <a href="mailto:victorep105@gmail.com" class="text-green-200/90">correo electrónico</a> o a través de el siguiente formulario</p>
			<form action="https://formspree.io/f/xnqoqjzq" method="POST" class="flex flex-col gap-y-2 mt-4">
				<label for="name" class="text-pretty">Nombre</label>
				<input type="text" name="name" id="name" class="p-2 bg-[unset] rounded border-2 border-green-200/90">
				<label for="email" class="text-pretty">Email</label>
				<input type="email" name="email" id="email" class="p-2 bg-[unset] rounded border-2 border-green-200/90">
				<label for="message" class="text-pretty">Mensaje</label>
				<textarea name="message" id="message" cols="30" rows="10" class="p-2  bg-[unset] rounded border-2 border-green-200/90"></textarea>
				<button type="submit" class="bg-green-200/90 text-pretty p-2 text-black text-bold rounded">Enviar</button>
			</form>

			
		</Section>
	</main>
</Layout>


